<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>koa2-backEnd-cli</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>koa2-backEnd-cli</h1>
  当你看到这个页面时,这个服务已经成功跑起来了~
  <a href="https://github.com/KamenRider41/koa2-backEnd-cli">README!!!</a>
  <div class="pic">
    <img src="/assets/koa-logo.png" alt="">
  </div>

</body>
</html> 